body {
  background-image: url("https://images7.alphacoders.com/396/396289.jpg");
  opacity: 80%;
  background-size: contain;
}

#title {
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  font-size: 50px;
  color: white;
  text-decoration: bold;
}