body {
  background:                    url("https://images7.alphacoders.com/396/396289.jpg") 0px 0px no-repeat,        url("https://static1.squarespace.com/static/55ca5c3ee4b00863c0b9cfae/t/55f79f45e4b051cfcc0d2751/1442291529158/DSC_0367.jpg") 0px 1062px no-repeat;
  url("http://cdn.skim.gs/image/upload/v1456337732/msi/creme_brulee_rglqjo.jpg");
  opacity: 80%;
  background-size: contain
}

#title {
  text-align: center;
  font-size: 50px;
  color: lightgrey;
  text-decoration: bold;
}